@model List<Blog>
@{
    ViewData["Title"] = "Index";
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("Bunner");
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-50 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input id="input-search" type="search" placeholder="Search..." name="search" />
                        <input type="hidden" name="name" value="@controller" id="controller" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="old">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog mb-60">
                        <div class="blog-img">
                            <a asp-action="Detail"><img src="~/img/blog/@item.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>@item.Name/@item.Created.ToString("dd/MM/yyyy") /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-action="Detail">@item.Name </a></h2>
                                <a asp-action="Detail">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row" id="new">

        </div>
        <div class="row justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                    @if (ViewBag.CurrentPage == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" tabindex="-1">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active":"")" style="@(ViewBag.CurrentPage == i?"pointer-events:none":"")">
                            <a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-page="@i">
                                @i<span class="sr-only">(current)</span>
                            </a>
                        </li>
                    }

                    @if (ViewBag.CurrentPage == ViewBag.TotalPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    }
                    else
                    {

                        <li class="page-item">
                            <a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
                        </li>
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Subscribe Start -->
@await Component.InvokeAsync("Subscribe");
<!-- Subscribe End -->
