@model List<Event>
@{
    ViewData["Title"] = "Index";
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("Bunner");
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-50 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input id="input-search" type="search" placeholder="Search..." name="search" />
                        <input type="hidden" name="name" value="@controller" id="controller" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="old">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-action="Detail">
                                <img src="~/img/event/@item.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@item.Created.ToString("dd") <span>@item.Created.ToString("MMM")</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-action="Detail">@item.Title</a></h4>
                            <ul>
                                <li><span>time:</span> 9.00 AM - 4.45 PM</li>
                                <li><span>venue</span> @item.Location</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="Detail" asp-route-id=@item.Id>join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row" id="new">

        </div>
    </div>
</div>
<!-- Event End -->
<!-- Subscribe Start -->
@await Component.InvokeAsync("Subscribe");
<!-- Subscribe End -->
